 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/cf714e7edcec71080bd39ea27701983ffc9d4ffb15ba27fcf3f6d99c92593216abe9bcb9794e069b4cff2df044a488119d5933e7b5c4dc57cc8be6_1280-17-bw.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 854px;
}

.u-section-1 .u-group-1 {
  width: 1063px;
  min-height: 624px;
  background-image: none;
  height: auto;
  margin: 124px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 20px 0 27px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 15px auto 0 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 49px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-1 .u-group-1 {
    min-height: 689px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 43px;
    margin-left: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-1 .u-group-1 {
    min-height: 813px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 29px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1123px;
  }

  .u-section-1 .u-group-1 {
    min-height: 996px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 21px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 31px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 9px;
  }
}