 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/Web_1920_1-bw.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 691px;
}

.u-section-1 .u-group-1 {
  width: 681px;
  min-height: 459px;
  margin: 114px auto 60px 5px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 6.25rem;
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 9px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 23px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 34px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  min-height: 66px;
}

.u-section-2 .u-sheet-1 {
  min-height: 655px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-image-1 {
  min-height: 655px;
  background-image: url("images/product.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 318px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 414px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-image-1 {
    min-height: 621px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 391px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 749px;
}

.u-section-3 .u-text-1 {
  margin: 99px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 197px 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-image-1 {
    height: 269px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-3 .u-image-2 {
    height: 269px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-3 .u-image-3 {
    height: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-3 .u-image-1 {
    height: 191px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-3 .u-image-2 {
    height: 191px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 253px;
  }

  .u-section-3 .u-image-3 {
    height: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1487px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 569px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 552px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 569px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 552px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 569px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 552px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-3 .u-image-1 {
    height: 340px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 358px;
  }

  .u-section-3 .u-image-2 {
    height: 340px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 358px;
  }

  .u-section-3 .u-image-3 {
    height: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 627px;
}

.u-section-4 .u-group-1 {
  min-height: 103px;
  margin: 61px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 26px 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 43px auto 61px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 389px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 25px;
}

.u-section-4 .u-icon-1 {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: initial;
  margin-left: 0;
  height: 110px;
  width: 110px;
}

.u-section-4 .u-text-2 {
  margin: -50px 30px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 389px;
  background-image: none;
}

.u-section-4 .u-icon-2 {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: initial;
  margin-left: 0;
  height: 110px;
  width: 110px;
}

.u-section-4 .u-text-3 {
  margin: -50px 30px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 389px;
  background-image: none;
}

.u-section-4 .u-icon-3 {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: initial;
  margin-left: 0;
  height: 110px;
  width: 110px;
}

.u-section-4 .u-text-4 {
  margin: -50px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    min-height: 90px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 25px;
    margin-bottom: 32px;
    margin-left: 1px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 410px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 19px;
    margin-bottom: 32px;
    margin-left: 25px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 410px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 15px;
    margin-bottom: 43px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 525px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-bottom: 0;
    margin-left: 19px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-bottom: 19px;
    margin-left: 38px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 525px;
  }

  .u-section-4 .u-text-3 {
    margin-right: -1px;
    margin-bottom: 51px;
    margin-left: 19px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 525px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-bottom: 51px;
    margin-left: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 63px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 301px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-icon-1 {
    margin-bottom: initial;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 0;
    margin-left: 14px;
    margin-right: 14px;
    width: 483px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 281px;
  }

  .u-section-4 .u-text-3 {
    margin-bottom: 0;
    margin-left: 14px;
    margin-right: 14px;
    width: 512px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 275px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 0;
    width: 512px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-4 .u-group-1 {
    min-height: 98px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 42px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 205px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
    width: 304px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 205px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
    width: 322px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 278px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
    width: 322px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65)), url("images/911422be545be4f478713eca7a6b0d9f040226d3f320e8c032fe9830d83c447c65b4c420293e927c5c5e0ce95a2606ceda494da50a0a9317b6fd44_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 983px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 762px;
  margin: 104px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 800px;
}

.u-section-5 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-5 .u-group-1 {
  width: 682px;
  min-height: 633px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  line-height: 86px;
  margin: 50px 10px 0;
}

.u-section-5 .u-line-1 {
  width: 51px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 34px 0;
}

.u-section-5 .u-form-1 {
  height: 308px;
  width: 549px;
  margin: 20px auto 65px;
}

.u-section-5 .u-form-group-1 {
  width: 100%;
}

.u-section-5 .u-form-group-2 {
  width: 100%;
}

.u-section-5 .u-form-group-3 {
  width: 100%;
}

.u-section-5 .u-form-group-4 {
  text-align: left;
  width: 100%;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 628px;
    margin-left: 156px;
  }

  .u-section-5 .u-group-1 {
    width: 562px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-5 .u-line-1 {
    width: 42px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 55px;
  }

  .u-section-5 .u-form-1 {
    width: 453px;
    margin-right: 46px;
    margin-left: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 788px;
  }

  .u-section-5 .u-group-1 {
    width: 643px;
    min-height: 697px;
    margin-top: 45px;
    margin-bottom: 46px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
    margin-right: 13px;
    margin-left: 13px;
  }

  .u-section-5 .u-line-1 {
    width: 32px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 28px;
    margin-left: 28px;
  }

  .u-section-5 .u-form-1 {
    width: 556px;
    margin: 50px auto 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-group-1 {
    width: 462px;
    margin-top: 46px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: 85px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-line-1 {
    width: 30px;
    margin-left: 205px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-5 .u-form-1 {
    width: 407px;
    margin-top: 39px;
    margin-bottom: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-5 .u-group-1 {
    min-height: 734px;
    width: 307px;
    margin-top: 27px;
    margin-bottom: 27px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 6px;
  }

  .u-section-5 .u-text-1 {
    line-height: 1;
    margin-top: 50px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-5 .u-line-1 {
    width: 25px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-5 .u-form-1 {
    width: 273px;
    margin-top: 20px;
    margin-bottom: 70px;
  }
}